<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>StreamerJS v<%= version %></title>
    <style>
      body {
        background-color: #006076; /* Dark Purple */
        color: #ebccb0;
        font-family: system-ui, "Segoe UI", Roboto, Helvetica, Arial, sans-serif,
          "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
        margin: 2em;
      }
      .card {
        background-color: #ebccb0; /* Very light grey */
        border: 1px solid #bd75a1;
        border-radius: 0.25rem;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
        padding: 1.25rem;
        margin-bottom: 1rem;
        color: #212529;
      }
      a {
        text-decoration: dashed underline;
      }

      body a {
        color: #bd75a1;
      }

      .card a {
        color: #7a5677;
      }
    </style>
  </head>
  <body>
    <h1>StreamerJS</h1>
    <p>
      v<%= version %> -
      <a href="https://github.com/sergeychernyshev/streamerjs">GitHub</a> -
      <a href="https://www.npmjs.com/package/@streamerjs/streamerjs">npm</a>
    </p>

    <section class="card">
      <h2>Scenes</h2>
      Go to <a href="/scenes/">/scenes/</a> to open your scene pages and add
      them to your OBS scene in a browser component.
    </section>
    <section class="card">
      <% if (control) { %>
      <h2>Control</h2>
      Go to <a href="/control/">/control/</a> to open your control page. <% } %>
    </section>
  </body>
</html>
