<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>StreamerJS v<%= version %></title>
  </head>
  <body>
    <h1>StreamerJS</h1>
    <p>v<%= version %></p>

    <section>
      <h2>Scenes</h2>
      Go to <a href="/scenes/">/scenes/</a> to open your scene pages and add
      them to your OBS scene in a browser component.
    </section>
    <section>
      <% if (control) { %>
      <h2>Control</h2>
      Go to <a href="/control/">/control/</a> to open your control page. <% } %>
    </section>
  </body>
</html>
